body {
    text-align: center;
    background: #FDFF69;
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-size: 2em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

p {
	font-size: 1.25em;
}

.selectors {
	width: 33%;
	flex-direction: column;
}

#input-height {
	width: 40%;
}

#input-width{ 
	width: 40%;
}

.drawing-space {
	justify-content: center;
	width: 67%;
}

.whole-board {
	display: flex;
	flex-direction: row;
}